<section>
  <%= for {key, value} <- @libraries do %>
    <h1><%= key %></h1>
    <ul>
      <%= for {title, url} <- value do %>
        <li><%= link title, to: url %></li>
      <% end %>
    </ul>
  <% end %>
</section>
